.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: 95vh;            
}

.login {
    display: grid;
    justify-items: center;
    justify-content: center;
    max-width: 400px; 
}

.logo-container {
    display: grid;
    justify-items: center; 
    align-items: center;  
    width: 80px;
    height: 80px;
    background-color: #eee;
    border-radius: 50%;
    border: 4px solid #080808;
    overflow: hidden; 
    
}

.logo {
    width: 100%;  
    height: 100%; 
    object-fit: cover; 
}

.password-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.toggle-password {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-40%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000000;
}

.error-message {
    color: red;
    font-size: 14px;
    margin: 0px;
    font-family: "Inter";
}

.button {
    width: 100%;
    max-width: 350px;
    padding: 10px 112px;
    margin: 25px 0px;
}

.button:hover{
    background-color: #333; 
}

.spinner {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-top: 3px solid #888;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 0 auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .name-input{
    width: 300px;
  }

  .password-input{
    width: 300px;
  }